.DS_Store
*.log
.emacs.*
.lock
Dockerfile

*.iws
*.ipr
*.iml
*.swp
*.class
/out
build
*/build/*
/.settings/
.idea

.classpath
.factorypath
.project
.settings
.gradle
.metadata
.apt_generated
classes/*
Usuaris/*
users/*